@import "tailwindcss";


@theme {
  /* --color-prim: #67C090;
  --color-dark-text: #0c1e21;
  --color-dark: #0d1e20; */

  /* --color-prim: #0d1e20;
  --color-midnight_text: #0c1e21;
  --color-dark: #26667F; */

  --color-prim: #4a6cf7;
  --color-dark-text: #0c1e21;
  --color-dark: #0d1e20;

  /* --color-prim-light: #edf0f1; */
  --color-prim-light: #f9fbfc;

  --color-dark-blur: #0d1e20e0;

  --color-border: #c9d1d1;

  --color-pera-light: #a9b8b8;
  --color-pera-dark: #364e52;

  --rotate-y-360: 360px;

  --text-13: 0.8125rem;
  --text-13--line-height: 1.2;
  --text-14: 0.875rem;
  --text-14--line-height: 1.2;
  --text-16: 1rem;
  --text-16--line-height: 1.2;
  --text-18: 1.125rem;
  --text-18--line-height: 1.2;
  --text-19: 1.1875rem;
  --text-19--line-height: 1.8;
  --text-20: 1.25rem;
  --text-20--line-height: 1.2;
  --text-22: 1.375rem;
  --text-22--line-height: 1.2;
  --text-24: 1.5rem;
  --text-24--line-height: 1.2;
  --text-25: 1.5625rem;
  --text-25--line-height: 1.2;
  --text-28: 1.75rem;
  --text-28--line-height: 1.2;
  --text-35: 2.1875rem;
  --text-35--line-height: 1.2;
  --text-40: 2.5rem;
  --text-40--line-height: 1.2;
  --text-48: 3rem;
  --text-48--line-height: 1.2;
  --text-50: 3.125rem;
  --text-50--line-height: 1.2;

  --text-60: 4.5rem;
  --text-60--line-height: 1.2;

  --tracking-widest: 0.2em;
}

@layer utilities {
  .font-unbounded {
    font-family: var(--font-unbounded);
  }

  .font-poppins {
    font-family: var(--font-poppins);
  }

  .font-chakrapetch {
    font-family: var(--font-chakrapetch);
  }

  .font-mona {
    font-family: var(--font-mono);
  }
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  body {
    @apply text-base overflow-x-hidden font-normal;
    -webkit-text-size-adjust: 100%;
    font-family: var(--font-poppins);
    scroll-behavior: smooth;
  }


  textarea,
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  select {
    @apply block outline-hidden text-base font-normal m-0 rounded-[0.375rem] w-full capitalize;
  }

  h1 {
    @apply md:text-50 text-28 font-medium capitalize;
  }

  h2 {
    @apply md:text-40 text-24 font-medium capitalize;
  }

  h3 {
    @apply md:text-28 text-18 font-medium text-white capitalize;
  }

  h4 {
    @apply text-24 font-medium capitalize;
  }

  h5 {
    @apply text-22 font-medium capitalize;
  }
}

/* custom css */

.prim-grident {
  background: linear-gradient(-45deg, rgba(30, 138, 138, 0.3) 0%, rgba(30, 138, 138, 0) 50%, rgba(30, 138, 138, 0.3) 100%);
}

.flip-vertical {
  animation: flip-vertical 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes flip-vertical {
  0% {
    transform: translateZ(0) rotateY(0);
  }

  100% {
    transform: translateZ(160px) rotateY(180deg);
  }
}


/* hero */

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(13, 30, 32, 1) 0%, rgba(136, 145, 109, 0) 50%, rgba(13, 30, 32, 1) 100%);
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.sub-title::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
}

/* solution */

.solution-wrapper .swiper-wrapper {
  padding: 30px 0px;
}

.solution-wrapper .swiper-button-next,
.solution-wrapper .swiper-button-prev {
  color: var(--color-prim) !important;
  background: #fff !important;
  box-shadow: 2px 2px 5px #0d1e20;
  height: 35px !important;
  width: 35px !important;
  padding: 8px;
  cursor: pointer !important;
  border-radius: 30px;
}

.solution-wrapper .swiper-button-prev .swiper-button-disabled {
  color: var(--color-prim) !important;
  opacity: 1 !important;
}

.solution-wrapper .swiper-button-disabled {
  color: var(--color-prim) !important;
  opacity: 1 !important;
}

.solution-wrapper .swiper-button-next .swiper-button-disabled {
  &.swiper-button-disabled {
    color: var(--color-prim) !important;
    opacity: 1 !important;
  }

}

.solution-wrapper .swiper-pagination-bullet .swiper-pagination-bullet-active {
  background: var(--color-prim) !important;
}

/* companies */

.companies-swiper .swiper-wrapper {
  padding: 30px 0px;
}

.companies-swiper::before {
  content: "";
  position: absolute;
  width: 448px;
  height: 100%;
  background-image: linear-gradient(90deg, rgb(233, 237, 237) 0%, rgba(233, 237, 237, 0) 100%);
  top: 0;
  z-index: 2;
}


.companies-swiper::after {
  content: "";
  position: absolute;
  width: 448px;
  height: 100%;
  z-index: 2;
  inset-inline-start: auto;
  inset-inline-end: 0;
  background-image: linear-gradient(-90deg, rgb(233, 237, 237) 0%, rgba(233, 237, 237, 0) 100%);
  top: 0;
  z-index: 2;
}

@media screen and (max-width:767px) {
  .companies-swiper::after {
    width: 200px;
  }

  .companies-swiper::before {
    width: 200px;
  }
}

@media screen and (max-width:575px) {
  .companies-swiper::after {
    width: 100px;
  }

  .companies-swiper::before {
    width: 100px;
  }
}

@media screen and (max-width:500px) {
  .companies-swiper::after {
    width: 50px;
  }

  .companies-swiper::before {
    width: 50px;
  }
}

.process-item span {
  font-size: 120px;
  color: var(--color-prim);
  background: linear-gradient(180deg, var(--color-prim) 0%, #fff 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  display: inline-flex;
  line-height: 1;
  margin-bottom: 16px;
}

.process-item svg {
  position: absolute;
  font-size: 12px;
  line-height: 1;
  color: var(--color-prim);
  font-family: "bexon-icons" !important;
  font-weight: normal;
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: white;
  border: 7px solid #e6e8e8;
  top: 50%;
  padding: 5px;
  inset-inline-end: -34px;
  transform: translateY(-50%);
  z-index: 5;
  transition: none;
}

.submenu {
  background-color: #fff !important;
}

.section-banner {
  background-image: url(../../public/images/section/pheader-bg.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.section-banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
}

@media screen and (max-width:767px) {
  .navbar {
    width: 100% !important;
    margin: 0 !important;
    left: 0;
    top: 0;
    border-radius: 0;
  }
}